body {
  background-color:#0E7E12;
  box-sizing: border-box;
}
.card {
    text-align: center;
    display: inline-block;
    background-color: white;
    margin: auto;
    height: 200px;
    font-size: 80px;
    width: 250px;
    padding: 20px;
    padding-top: 150px;
    border-radius: 10px;
    border:1px solid black;
    position: relative;
}
.top-suit {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
}
.bottom-suit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
}